input {
  width: 100%;
  height: 3rem;
  margin: 0 0 8px 0;
  padding: 0;

  box-shadow: none;
  box-sizing: content-box;
  transition: box-shadow .3s, border .3s;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid darkgray;
  border-radius: 0;
  outline: none;
  overflow: visible;
  color: black;
  &:focus {
    border-bottom: 1px solid #007AFF;
    box-shadow: 0 1px 0 0 #007AFF;
  }
}